.order {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 100px 16px 0;
    color: #F2F2F3;
}

.positions::-webkit-scrollbar {
    width: 8px;
}

.positions::-webkit-scrollbar-track {
    background: #2f2f37;
}

.positions::-webkit-scrollbar-thumb {
    background: #8585ad;
}

.position {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-items: right;
    align-items: center;
    justify-content: right;
}

.positions {
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 600px;
    overflow-y:scroll;
}

.price {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: right;
    align-items: center;
}