.popup {
    background-color: black;
    color: #F2F2F3;
    border-radius: 40px;
    position: relative;
    width: 720px;
}

.popup__button {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 60px;
}